.terms{
    &__top{
        height: 470px;
        display: flex;
        align-items: flex-end;
        background: url(../img/terms-bg.png) center / cover no-repeat;
        @include media(992){
            height: 300px;
        }
        @include media(575){
            height: 205px;
        }
    }
    &__content{
        background: linear-gradient(259.22deg, #FFD702 19.75%, #FF6F17 74.59%);
        border-radius: 0px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 120px;
        @include media(992){
            height: 70px;
        }
    }
    &__title{
        font-weight: 700;
        font-size: 45px;
        line-height: 55px;
        text-align: center;
        letter-spacing: -0.05em;
        text-transform: uppercase;
        color: #FFFFFF;
        @include media(992){
            font-weight: 500;
            font-size: 28px;
            line-height: 25px;
        }
    }
    &__body{
        padding-top: 66px;
        padding-bottom: 95px;
        @include media(992){
            padding-top: 35px;
            padding-bottom: 50px;
        }
    }
    &__p, &__subtitle{
        font-weight: 500;
        font-size: 15px;
        line-height: 18px;
        color: #1E3F50;
        margin-bottom: 15px !important;
        @include media(575){
            font-size: 14px;
        }
        a{
            color: #FF7617;
        }
    }
}