mixin about()
    section.about 
        .about__body.container 
            .slider.about__slider 
                .swiper.about__swiper 
                    .swiper-wrapper.about__swiper-wrapper 
                        .swiper-slide.about__swiper-slide 
                            p.about__subtitle Идейные соображения высшего порядка
                            p.about__desc Идейные соображения высшего порядка а также дальнейшее развитие различных форм деятельности позволяет оценить значение новых предложений.
                        .swiper-slide.about__swiper-slide 
                            p.about__subtitle Не следует, однако забывать
                            p.about__desc Не следует, однако забывать, что дальнейшее развитие различных форм деятельности способствует подготовке и реализации форм развития.
                        .swiper-slide.about__swiper-slide 
                            p.about__subtitle Товарищи! 
                            p.about__desc Товарищи! сложившаяся структура организации представляет собой интересный эксперимент проверки направлений прогрессивного развития.
                        .swiper-slide.about__swiper-slide 
                            p.about__subtitle Повседневная практика показывает
                            p.about__desc Повседневная практика показывает, что реализация намеченных плановых заданий в значительной степени обуславливает создание модели развития.