mixin adventages()
    section.adventages 
        .adventages__body.container 
            .adventages__top
                .adventages__item 
                    <div class="accordion-item" id="accordionExample">
                        <h2 class="accordion-header" id="headingOne">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">Создать предложение
                                <svg width="45" height="26" viewBox="0 0 45 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <g filter="url(#filter0_dd_756_974)">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M4 3.00005C3.30219 3.18199 3 4.31693 3 5.00005C3 5.69349 3.1591 5.45397 13 15.0001C18.7548 20.5826 21.8069 23.9022 22 24.0001C22.2069 24.1049 22.7156 24.0001 23 24.0001C23.2844 24.0001 23.7931 24.1049 24 24.0001C24.1931 23.9022 27.2452 20.5826 33 15.0001C40.2743 7.94365 42.8768 5.26622 43 5.00005C43.1966 4.57513 43.1884 4.39324 43 4.00005C42.6399 3.24853 41.8383 2.83228 41 3.00005C40.6106 3.07792 40.686 3.58966 32 12.0001L23 20.0001L14 12.0001L5 3.00005V3.00005C4.77219 2.95438 5.0086 2.99725 5 3.00005C4.99133 3.00293 4.20421 2.94681 4 3.00005Z" fill=""/>
                                    </g>
                                    <defs>
                                    <filter id="filter0_dd_756_974" x="0.28" y="0.243135" width="44.6645" height="25.6035" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                                    <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                                    <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
                                    <feOffset dx="0.8" dy="0.8"/>
                                    <feGaussianBlur stdDeviation="0.5"/>
                                    <feColorMatrix type="matrix" values="0 0 0 0 0.682353 0 0 0 0 0.682353 0 0 0 0 0.752941 0 0 0 0.25 0"/>
                                    <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_756_974"/>
                                    <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
                                    <feOffset dx="-1.18" dy="-1.18"/>
                                    <feGaussianBlur stdDeviation="0.77"/>
                                    <feColorMatrix type="matrix" values="0 0 0 0 1 0 0 0 0 1 0 0 0 0 1 0 0 0 1 0"/>
                                    <feBlend mode="normal" in2="effect1_dropShadow_756_974" result="effect2_dropShadow_756_974"/>
                                    <feBlend mode="normal" in="SourceGraphic" in2="effect2_dropShadow_756_974" result="shape"/>
                                    </filter>
                                    </defs>
                                </svg>
                            </button>
                        </h2>
                        <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                p.adventages__subtitle Для создания предложения необходимо указать номер телефона
                                form(action="").adventages__form
                                    input(type="number" required placeholder="+7 (_ _ _)  _ _ _ - _ _ - _ _").adventages__input
                                    button(type="submit").adventages__btn Подтвердить номер
                            </div>
                        </div>
                    </div>
                .adventages__item 
                    <div class="accordion-item" id="accordionExample">
                        <h2 class="accordion-header" id="headingTwo">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">Калькуляторы качества и доставки
                                <svg width="45" height="27" viewBox="0 0 45 27" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <g filter="url(#filter0_dd_756_975)">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M4 2.99996C3.30219 3.19056 3 4.2843 3 4.99996C3 5.72641 3.1591 4.9993 13 15C18.7548 20.8483 21.8069 24.8974 22 25C22.2069 25.1098 22.7156 25 23 25C23.2844 25 23.7931 25.1098 24 25C24.1931 24.8974 27.2452 20.8483 33 15C40.2743 7.60754 42.8768 5.2788 43 4.99996C43.1966 4.55481 43.1884 4.41187 43 3.99996C42.6399 3.21265 41.8383 2.8242 41 2.99996C40.6106 3.08154 40.686 3.18908 32 12L23 21L14 12L5 2.99996V2.99996C4.77219 2.95212 5.0086 2.99703 5 2.99996C4.99133 3.00298 4.20421 2.94418 4 2.99996Z" fill=""/>
                                    </g>
                                    <defs>
                                    <filter id="filter0_dd_756_975" x="0.28" y="0.238252" width="44.6645" height="26.6106" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                                    <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                                    <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
                                    <feOffset dx="0.8" dy="0.8"/>
                                    <feGaussianBlur stdDeviation="0.5"/>
                                    <feColorMatrix type="matrix" values="0 0 0 0 0.682353 0 0 0 0 0.682353 0 0 0 0 0.752941 0 0 0 0.25 0"/>
                                    <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_756_975"/>
                                    <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
                                    <feOffset dx="-1.18" dy="-1.18"/>
                                    <feGaussianBlur stdDeviation="0.77"/>
                                    <feColorMatrix type="matrix" values="0 0 0 0 1 0 0 0 0 1 0 0 0 0 1 0 0 0 1 0"/>
                                    <feBlend mode="normal" in2="effect1_dropShadow_756_975" result="effect2_dropShadow_756_975"/>
                                    <feBlend mode="normal" in="SourceGraphic" in2="effect2_dropShadow_756_975" result="shape"/>
                                    </filter>
                                    </defs>
                                </svg>
                            </button>
                        </h2>
                        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                p.adventages__subtitle Откуда забрать
                                form(action="").adventages__form.df
                                    input(type="text" placeholder="Адрес") 
                                    input(type="text" placeholder="Карта") 
                                .adventages__info 
                                    p Расстояние
                                    p 0км
                                input(type="text" placeholder="Влажность %").adventages__input
                                .adventages__checkboxes 
                                    label(for="checkbox1").adventages__label Не знаю
                                    input(type="checkbox" checkbox id="checkbox1").adventages__checkbox
                                input(type="text" placeholder="Сорная примесь %").adventages__input
                                .adventages__checkboxes 
                                    label(for="checkbox2").adventages__label Не знаю
                                    input(type="checkbox" checkbox id="checkbox2").adventages__checkbox
                                input(type="text" placeholder="Масличность %").adventages__input
                                .adventages__checkboxes 
                                    label(for="checkbox3").adventages__label Не знаю
                                    input(type="checkbox" checkbox id="checkbox3").adventages__checkbox 
                            </div>
                        </div>
                    </div>
            <div class="accordion-item"  id="accordionExample">
                <h2 class="accordion-header" id="headingThree">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">цифровая сделка
                        <svg width="45" height="27" viewBox="0 0 45 27" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g filter="url(#filter0_dd_756_976)">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M4 2.99996C3.30219 3.19056 3 4.2843 3 4.99996C3 5.72641 3.1591 4.9993 13 15C18.7548 20.8483 21.8069 24.8974 22 25C22.2069 25.1098 22.7156 25 23 25C23.2844 25 23.7931 25.1098 24 25C24.1931 24.8974 27.2452 20.8483 33 15C40.2743 7.60754 42.8768 5.2788 43 4.99996C43.1966 4.55481 43.1884 4.41187 43 3.99996C42.6399 3.21265 41.8383 2.8242 41 2.99996C40.6106 3.08154 40.686 3.18908 32 12L23 21L14 12L5 2.99996V2.99996C4.77219 2.95212 5.0086 2.99703 5 2.99996C4.99133 3.00298 4.20421 2.94418 4 2.99996Z" fill=""/>
                            </g>
                            <defs>
                            <filter id="filter0_dd_756_976" x="0.28" y="0.238252" width="44.6645" height="26.6106" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                            <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                            <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
                            <feOffset dx="0.8" dy="0.8"/>
                            <feGaussianBlur stdDeviation="0.5"/>
                            <feColorMatrix type="matrix" values="0 0 0 0 0.682353 0 0 0 0 0.682353 0 0 0 0 0.752941 0 0 0 0.25 0"/>
                            <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_756_976"/>
                            <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
                            <feOffset dx="-1.18" dy="-1.18"/>
                            <feGaussianBlur stdDeviation="0.77"/>
                            <feColorMatrix type="matrix" values="0 0 0 0 1 0 0 0 0 1 0 0 0 0 1 0 0 0 1 0"/>
                            <feBlend mode="normal" in2="effect1_dropShadow_756_976" result="effect2_dropShadow_756_976"/>
                            <feBlend mode="normal" in="SourceGraphic" in2="effect2_dropShadow_756_976" result="shape"/>
                            </filter>
                            </defs>
                        </svg>
                    </button>
                </h2>
                <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        p.adventages__desc Lorem ipsum dolor sit, amet consectetur adipisicing elit. Numquam non cumque esse pariatur eum rem natus nesciunt perferendis eos repudiandae voluptatem dolor neque labore vel possimus, eaque nobis ad recusandae asperiores laborum nisi error temporibus. Voluptate expedita voluptates perspiciatis qui deleniti exercitationem neque cupiditate obcaecati ratione quod quis eaque, pariatur blanditiis ad et nostrum? Quaerat minus mollitia voluptates officia beatae modi dicta aut voluptas nemo cum, quod fugiat quas, unde nisi natus. Perferendis, unde! A iure cupiditate, iusto nihil nemo facilis magni corrupti distinctio cumque officiis incidunt voluptatum tenetur quisquam nostrum consectetur harum ex rerum dolor? Suscipit rerum temporibus magni.
                    </div>
                </div>
            </div>