mixin documents()
    section.documents 
        .documents__body.container 
            .documents__accordion 
                <div class="accordion-item" id="accordionDocuments">
                    <h2 class="accordion-header" id="headingOne">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">Документы
                            <svg width="45" height="27" viewBox="0 0 45 27" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <g filter="url(#filter0_dd_756_978)">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M4 2.99996C3.30219 3.19056 3 4.2843 3 4.99996C3 5.72641 3.1591 4.9993 13 15C18.7548 20.8483 21.8069 24.8974 22 25C22.2069 25.1098 22.7156 25 23 25C23.2844 25 23.7931 25.1098 24 25C24.1931 24.8974 27.2452 20.8483 33 15C40.2743 7.60754 42.8768 5.2788 43 4.99996C43.1966 4.55481 43.1884 4.41187 43 3.99996C42.6399 3.21265 41.8383 2.8242 41 2.99996C40.6106 3.08154 40.686 3.18908 32 12L23 21L14 12L5 2.99996C4.77219 2.95212 5.0086 2.99703 5 2.99996C4.99133 3.00298 4.20421 2.94418 4 2.99996Z" fill=""/>
                                </g>
                                <defs>
                                <filter id="filter0_dd_756_978" x="0.28" y="0.238252" width="44.6645" height="26.6106" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                                <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                                <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
                                <feOffset dx="0.8" dy="0.8"/>
                                <feGaussianBlur stdDeviation="0.5"/>
                                <feColorMatrix type="matrix" values="0 0 0 0 0.682353 0 0 0 0 0.682353 0 0 0 0 0.752941 0 0 0 0.25 0"/>
                                <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_756_978"/>
                                <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
                                <feOffset dx="-1.18" dy="-1.18"/>
                                <feGaussianBlur stdDeviation="0.77"/>
                                <feColorMatrix type="matrix" values="0 0 0 0 1 0 0 0 0 1 0 0 0 0 1 0 0 0 1 0"/>
                                <feBlend mode="normal" in2="effect1_dropShadow_756_978" result="effect2_dropShadow_756_978"/>
                                <feBlend mode="normal" in="SourceGraphic" in2="effect2_dropShadow_756_978" result="shape"/>
                                </filter>
                                </defs>
                            </svg>
                        </button>
                    </h2>
                    <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionDocuments">
                        <div class="accordion-body">
                            .documents__item 
                                p.documents__p Перечень документов, представляемых КФХ (ИП), для оформления договоров на 2022 год. Авансирование
                                a(href="#!").documents__link 
                                    img(src="@img/documents-file.png", alt="")
                                    | Скачать #[br] PDF
                            .documents__item 
                                p.documents__p Перечень документов, представляемых юридическим лицом, для оформления договоров поставки на 2022 год. Авансирование
                                a(href="#!").documents__link 
                                    img(src="@img/documents-file.png", alt="")
                                    | Скачать #[br] PDF
                            .documents__item 
                                p.documents__p Перечень документов, представляемых КФХ (ИП), для оформления договоров на 2022 год. Закупка, хранение 
                                a(href="#!").documents__link 
                                    img(src="@img/documents-file.png", alt="")
                                    | Скачать #[br] PDF
                            .documents__item 
                                p.documents__p Перечень документов, представляемых юридическим лицом, для оформления договоров поставки на 2022 год. Закупка, хранение
                                a(href="#!").documents__link 
                                    img(src="@img/documents-file.png", alt="")
                                    | Скачать #[br] PDF
                        </div>
                    </div>
                </div>
            .documents__accordion 
                <div class="accordion-item" id="documentsPrice">
                    <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">другие цены
                            <svg width="45" height="27" viewBox="0 0 45 27" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <g filter="url(#filter0_dd_756_977)">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M4 2.99996C3.30219 3.19056 3 4.2843 3 4.99996C3 5.72641 3.1591 4.9993 13 15C18.7548 20.8483 21.8069 24.8974 22 25C22.2069 25.1098 22.7156 25 23 25C23.2844 25 23.7931 25.1098 24 25C24.1931 24.8974 27.2452 20.8483 33 15C40.2743 7.60754 42.8768 5.2788 43 4.99996C43.1966 4.55481 43.1884 4.41187 43 3.99996C42.6399 3.21265 41.8383 2.8242 41 2.99996C40.6106 3.08154 40.686 3.18908 32 12L23 21L14 12L5 2.99996C4.77219 2.95212 5.0086 2.99703 5 2.99996C4.99133 3.00298 4.20421 2.94418 4 2.99996Z" fill=""/>
                                </g>
                                <defs>
                                <filter id="filter0_dd_756_977" x="0.28" y="0.238252" width="44.6645" height="26.6106" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                                <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                                <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
                                <feOffset dx="0.8" dy="0.8"/>
                                <feGaussianBlur stdDeviation="0.5"/>
                                <feColorMatrix type="matrix" values="0 0 0 0 0.682353 0 0 0 0 0.682353 0 0 0 0 0.752941 0 0 0 0.25 0"/>
                                <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_756_977"/>
                                <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
                                <feOffset dx="-1.18" dy="-1.18"/>
                                <feGaussianBlur stdDeviation="0.77"/>
                                <feColorMatrix type="matrix" values="0 0 0 0 1 0 0 0 0 1 0 0 0 0 1 0 0 0 1 0"/>
                                <feBlend mode="normal" in2="effect1_dropShadow_756_977" result="effect2_dropShadow_756_977"/>
                                <feBlend mode="normal" in="SourceGraphic" in2="effect2_dropShadow_756_977" result="shape"/>
                                </filter>
                                </defs>
                            </svg>
                        </button>
                    </h2>
                    <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwo" data-bs-parent="#documentsPrice">
                        <div class="accordion-body">
                            .documents__texts 
                                <p class="documents__info">Астон. Цена: 15р/кг <br> По данным сайта <a href="#!">[сайт]</a></p>
                                <p class="documents__info">Юг-Руси. Цена: 15р/кг <br> По данным сайта <a href="#!">[сайт]</a></p>
                        </div>
                    </div>
                </div> 