mixin introNotbb()
    .intro.notbb
        .intro__img 
            img(src="@img/intro-img.png", alt="") 
        .intro__body.container 
            .intro__content 
                .intro__top 
                    h1.intro__title.white закупаем
                .intro__bottom 
                    h1.intro__title Подсолнечник
                    p.intro__desc АО Павловскагропродукт МЭ3 Елизаветовский С. Княжево
                    .intro__info 
                        p.intro__p Цена на  02.05.22
                        p.intro__price 35₽