mixin popups()
    .popups 
        .popups__item
            button(type="button" data-target="idea").popups__btn.open-popup Идейные соображения 
            button(type="button" data-target="offer").popups__btn.open-popup Предложения
            button(type="button" data-target="enterPhoneNumber").popups__btn.open-popup Указать номер телефона
            button(type="button" data-target="enterCode").popups__btn.open-popup Введите код 
            button(type="button" data-target="codeSuccessfully").popups__btn.open-popup Предложение успешно создано!
            button(type="button" data-target="codeFail").popups__btn.open-popup Где-то произошла ошибка
        .popups__item
            button(type="button" data-target="notRegistered").popups__btn.open-popup Не зарегистрирован
            button(type="button" data-target="entrance").popups__btn.open-popup Вход
            button(type="button" data-target="entrancePhoneNumber").popups__btn.open-popup Вход: телефон номер
            button(type="button" data-target="codeSms").popups__btn.open-popup Код из смс
            button(type="button" data-target="profile").popups__btn.open-popup Профиль
            button(type="button" data-target="register").popups__btn.open-popup Регистрация
            button(type="button" data-target="renamePhoneNumber").popups__btn.open-popup Изменить номер телефона
            button(type="button" data-target="profileAdmin").popups__btn.open-popup Панель администратора
            button(type="button" data-target="profileOffer").popups__btn.open-popup Мои предложения
            button(type="button" data-target="smsFail").popups__btn.open-popup Код из смс : ошибка
            button(type="button" data-target="smsSuccessfully").popups__btn.open-popup Успешно










