mixin socials()
    section.socials 
        .socials__body.container 
            .socials__item 
                a(href="tel::8(903)654-80-20").socials__link  8 (903) 654-80-20
            .socials__item
                a(href="tel::8(903)654-80-20").socials__link  Заказать звонок
            .socials__item
                a(href="https://telegram.com").socials__link  Чат в Telegram
            .socials__item
                a(href="#!").socials__link  Наши ресурсы