mixin types()
    section.types 
        .types__body.container 
            h2.types__title Виды закупок
            .types__content 
                .types__item 
                    .types__left 
                        p.types__desc Закупка #[br] на стандартных #[br] условиях
                    .types__right 
                        .types__img 
                            img(src="@img/types-img-1.png", alt="")
                        p.types__p Прямая
                .types__item 
                    .types__right 
                        .types__img 
                            img(src="@img/types-img-2.png", alt="")
                        p.types__p Авансирование
                    .types__left 
                        p.types__desc Предоставление денежных средств под урожай следующего года
                .types__item 
                    .types__left 
                        p.types__desc Продавец сам фиксирует цену, когда ему это необходимо 
                    .types__right 
                        .types__img 
                            img(src="@img/types-img-3.png", alt="")
                        p.types__p Хранение с последующим выкупом
                .types__item 
                    .types__right 
                        .types__img 
                            img(src="@img/types-img-4.png", alt="")
                        p.types__p Хранение на условиях элеватора
                    .types__left 
                        p.types__desc Стандартный перечень услуг